.App {
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.body{
  background-color: yellow;
}

#header {
  text-align: center;
  width: 100%;
  /* font-size:30px */
}

.mainContent {
  display: flex;
  text-align: center;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
  /* margin:20px */
}

.doc {
  width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px black;
  background-color: darkgoldenrod;

}

.doc:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px blue;

}
.currency{
  width: 400px;
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px black;
  background-color: darkgoldenrod;
}

.currency:hover{
  color: grey;
}

/*  */